{% extends './layout.html'%}

	{% block title %}
		Gallery
	{% endblock %}
	
	{% block content %}
	<div class="row">
    <div class="col-sm-3">
       <img src="static/img/ab1.jpg" class="img-thumbnail" alt="Cinque Terre"> 
    </div>
    <div class="col-sm-3">
     <img src="static/img/ab1.jpg" class="img-thumbnail" alt="Cinque Terre"> 
	</div>
    <div class="col-sm-3">
      <img src="static/img/ab3.jpg" class="img-thumbnail" alt="Cinque Terre"> 
    </div>
	<div class="col-sm-3">
      <img src="static/img/ab4.jpg" class="img-thumbnail" alt="Cinque Terre"> 
    </div>
  </div>
    {% endblock %}

